#!/bin/bash

atuin login -u {{ onepasswordRead "op://Personal/Atuin/username" .onePasswordAccount }} \
 -p {{ onepasswordRead "op://Personal/Atuin/password" .onePasswordAccount }} \
 --key "{{ onepasswordRead "op://Personal/Atuin/key" .onePasswordAccount }}"

