# leave cmds starting with a space out of history
setopt HIST_IGNORE_SPACE

if [[ -a $HOME/.profile ]]
then
  source $HOME/.profile
fi

# Stash your environment variables in ~/.localrc. This means they'll stay out
# of your main dotfiles repository (which may be public, like this one), but
# you'll have access to them in your scripts.
if [[ -a ~/.localrc ]]
then
  source ~/.localrc
fi

# Configure tailscale
{{- if eq (env "CODESPACES") "true" }}

tailscale status || tailscale login

{{- end }}

# Setup ssh agent
{{- if eq (env "CODESPACES") "true" }}
# Skipped sshagent config in codespaces
# Setting up brew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- else if eq .chezmoi.os "darwin" -}}
{{- else if and (eq .chezmoi.os "linux") }}
{{- end }}

# initialize autocomplete here, otherwise functions won't be loaded
autoload -Uz compinit && compinit
{{/* What does this do? It iterestes over all the commands in auto_complete_commands.txt and if present on the path runs the autocompletion command associated */}}
{{- range include "auto_complete_commands.txt" | splitList "\n" }}
{{- if contains "#" . | not }}
{{- with $x := split "," . }}
if type "{{ $x._0 | trim }}" > /dev/null; then
  {{ $x._1 | trim }}
fi
{{ end }}
{{- end }}
{{- end }}

# Add aliases 
[ -f ~/.aliases ] && source ~/.aliases

# Enable fzf fuzzy matching
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Enable z for jumping to commonly used folders
[ -f ~/.config/z/z.sh ] && source ~/.config/z/z.sh

# Zsh config
setopt PROMPT_SUBST
setopt CORRECT
setopt COMPLETE_IN_WORD
setopt IGNORE_EOF

# Configure history
HISTFILE=~/.zsh_history
HISTSIZE=100000
SAVEHIST=100000
setopt HIST_VERIFY
setopt SHARE_HISTORY # share history between sessions ???
setopt EXTENDED_HISTORY # add timestamps to history
setopt APPEND_HISTORY # adds history
setopt INC_APPEND_HISTORY SHARE_HISTORY  # adds history incrementally and share it across sessions
setopt HIST_IGNORE_ALL_DUPS  # don't record dupes in history
setopt HIST_REDUCE_BLANKS