# leave cmds starting with a space out of history
setopt HIST_IGNORE_SPACE

if [[ -a $HOME/.profile ]]
then
  source $HOME/.profile
fi


# Stash your environment variables in ~/.localrc. This means they'll stay out
# of your main dotfiles repository (which may be public, like this one), but
# you'll have access to them in your scripts.
if [[ -a ~/.localrc ]]
then
  source ~/.localrc
fi

# initialize autocomplete here, otherwise functions won't be loaded
autoload -Uz compinit && compinit
{{/* What does this do? It iterestes over all the commands in auto_complete_commands.txt and if present on the path runs the autocompletion command associated */}}
{{- range include "auto_complete_commands.txt" | splitList "\n" }}
{{- if contains "#" . | not }}
{{- with $x := split "," . }}
{{- if lookPath $x._0 }}
{{ $x._1 | trim }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

# Setup ssh agent
{{- if eq (env "CODESPACES") "true" }}
# Skipped sshagent config in codespaces
{{- else if eq .chezmoi.os "darwin" -}}
ssh-add --apple-use-keychain ~/.ssh/id_ed25519
ssh-add --apple-use-keychain ~/.ssh/id_rsa_gh
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "arch") }}
eval $(keychain -q --noask --eval id_rsa_2018) # Personal
eval $(keychain -q --noask --eval id_rsa_gh) # Work
eval $(keychain -q --noask --eval id_ed25519) # Updated GH Key
{{- end }}

# Enable fzf fuzzy matching
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Enable z for jumping to commonly used folders
[ -f ~/.config/z/z.sh ] && source ~/.config/z/z.sh
