#!/bin/bash

# Ensure unattended install for Brew
export NONINTERACTIVE=1

# Install homebrew on debian and mac
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ else if eq .chezmoi.os "darwin" -}}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ end -}}
