#!/bin/bash
set -e

# Install stuff when running regolith2
{{- if lookPath "regolith-look" }}

# rofi ui for emoji and clipboard
sudo apt install rofi

# clipboard manager
wget https://github.com/erebe/greenclip/releases/download/v4.2/greenclip
chmod +x greenclip
mv greenclip ~/bin

# emoji picker
pip install --user rofimoji --break-system-packages || pip install --user rofimoji

# install regolith looks
sudo apt install gnome-themes-standard "regolith-look-*"

regolith-look set lascaille

# Fix screen blank issue on Ubuntu 22.04 https://github.com/regolith-linux/regolith-desktop/issues/785#issuecomment-1371747858
# sudo apt install gnome-session-flashback 
# sudo apt remove indicator-application

{{ end }}
