#!/bin/bash
set -e

# Install stuff when running regolith2
{{- if lookPath "regolith-look" }}

# rofi ui for emoji and clipboard
sudo apt install rofi

# clipboard manager
wget https://github.com/erebe/greenclip/releases/download/v4.2/greenclip
chmod +x greenclip
mv greenclip ~/bin

# emoji picker
pip install --user rofimoji

# install regolith looks
sudo apt install "regolith-look-*"

regolith-look set nord

{{ end }}
