#!/bin/bash

{{- if lookPath "gh" }}

# Add extension ID below
extensions=(
  "dlvhdr/gh-dash"
  "rneatherway/gh-slack"
  "seachicken/gh-poi" 
)

# Login
gh auth status || gh auth login

# Install extensions
for ext in "${extensions[@]}"
do
  if [ $(gh extension list | grep $ext | wc -l) -lt 1 ]; then
    gh extension install "$ext"
  else
    gh extension upgrade "$ext"
  fi
done

{{ end }}