#!/bin/bash

# Add extension ID below
extensions=(
  "github/gh-net"
)

# Install extensions
for ext in "${extensions[@]}"
do
  if [ $(gh extension list | grep net | wc -l) -lt 1 ]; then
    gh extension install "$ext"
  else
    gh extension upgrade "$ext"
  fi
done
