#!/bin/bash
set -e
export DEBIAN_FRONTEND=noninteractive

# Replace snap firefox with deb for 1password integration
{{ if and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "id") "ubuntu") | not}}
exit 0
{{ end }}
{{- if or (eq (env "CODESPACES") "true") (eq (env "REMOTE_CONTAINERS") "true") }}
exit 0
{{ end }}

wget https://github.com/TheAssassin/AppImageLauncher/releases/download/v2.2.0/appimagelauncher_2.2.0-travis995.0f91801.xenial_amd64.deb
sudo apt install appimagelauncher_*.deb
