#!/bin/bash
set -e

{{ if and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "idLike") "debian") | not -}}
exit 0
{{ end }}
{{- if eq (env "CODESPACES") "true" }}
exit 0
{{ end }}

# hash: {{ include "dot_dotfiles_groups/a_ubuntu_packages/packages.txt" | sha256sum }}

sudo apt update

# Install package
{{ range include "dot_dotfiles_groups/a_ubuntu_packages/packages.txt" | splitList "\n" }}
{{ if contains "#" . | not }}
    sudo apt install -y {{.}}
{{ end }}
{{ end }}
