#!/bin/bash
set -e

{{ if and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "idLike") "debian") | not -}}
exit 0
{{ end }}
{{- if or (eq (env "CODESPACES") "true") (eq (env "REMOTE_CONTAINERS") "true") }}
exit 0
{{ end }}

# hash: {{ include "dot_dotfiles_groups/a_ubuntu_packages/packages.txt" | sha256sum }}

sudo apt update

# Install package
{{ range include "dot_dotfiles_groups/a_ubuntu_packages/packages.txt" | splitList "\n" }}
{{ if . }}
{{ if contains "#" . | not }}
    echo "Package: {{.}}"
    dpkg -s "{{.}}" >/dev/null 2>&1 || (echo "Package {{.}} not installed, installing" && sudo apt install -y {{.}})
{{ end }}
{{ end }}
{{ end }}

echo "Finished"
