#!/bin/bash
set -e
export DEBIAN_FRONTEND=noninteractive

{{ if and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "id") "ubuntu") | not}}
exit 0
{{ end }}
{{- if eq (env "CODESPACES") "true" }}
exit 0
{{ end }}

sudo add-apt-repository ppa:cappelikan/ppa
sudo apt update
sudo apt install mainline