#!/bin/bash
set -e
export DEBIAN_FRONTEND=noninteractive

{{ template "skip-unless-local-debian.tmpl" . }}

wget -qO - https://regolith-desktop.org/regolith.key | \
gpg --dearmor | sudo tee /usr/share/keyrings/regolith-archive-keyring.gpg > /dev/null

echo deb "[arch=amd64 signed-by=/usr/share/keyrings/regolith-archive-keyring.gpg] \
https://regolith-desktop.org/release-3_2-ubuntu-jammy-amd64 jammy main" | \
sudo tee /etc/apt/sources.list.d/regolith.list
 
sudo apt update
sudo apt install regolith-desktop regolith-session-flashback regolith-look-lascaille

# disable the bar as we're using polybar
mkdir -p ~/scratch/i3
sudo mv /usr/share/regolith/i3/config.d/70_bar ~/scratch/i3/70_bar || echo "bar already disabled"

# enable compositor this makes zoom sharing work by allowing overlay between windows
sudo apt install regolith-compositor-picom-glx -y

# Configure compositor for zoom https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0060527
# don't do this think it breaks things
#sudo apt install xcompmgr
#xcompmgr -c -l0 -t0 -r0 -o.00

# setup popup notifications
if dpkg -l | grep -q regolith-rofication; then
    sudo apt purge regolith-rofication
    pkill rofication
fi

if ! dpkg -l | grep -q dunst; then
    wget https://launchpad.net/ubuntu/+archive/primary/+files/dunst_1.9.2-1_amd64.deb
    sudo apt install ./dunst_1.9.2-1_amd64.deb -y
    systemctl --user restart dunst && notify-send "notification configured"
fi

