#!/bin/bash
set -e
export DEBIAN_FRONTEND=noninteractive

# Replace snap firefox with deb for 1password integration
{{ template "skip-unless-local-debian.tmpl" . }}

gsettings set org.freedesktop.ibus.panel.emoji hotkey "[]"