#!/bin/bash
export DEBIAN_FRONTEND=noninteractive

# Replace snap firefox with deb for 1password integration
{{ template "skip-unless-local-debian.tmpl" . }}

wget https://github.com/TheAssassin/AppImageLauncher/releases/download/v2.2.0/appimagelauncher_2.2.0-travis995.0f91801.bionic_amd64.deb
sudo apt install ./appimagelauncher_*.bionic_amd64.deb
