[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
    credentialStore = secretservice

[credential "https://dev.azure.com"]
    azreposCredentialType = oauth
	useHttpPath = true
