[user]
    name = 
    name = lawrencegripper
    email = 
    email = lawrencegripper@github.com

[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
    credentialStore = secretservice

[credential "https://dev.azure.com"]
    azreposCredentialType = oauth
	useHttpPath = true

[credential "azrepos:org/mseng"]
    azureAuthority = https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47
    username = lagripp@microsoft.com
