# Local/private config goes in the include
[hub]
        protocol = https
[alias]
	ignore = "!gi() { IFS=\",\"; curl -L -s \"https://www.toptal.com/developers/gitignore/api/$*\" | tee .gitignore;}; \\\ngi"
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.config/git/ignore
        editor = nano
[push]
	default = current
[gpg]
        format = ssh
[commit]
	gpgsign = true
[user]
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK1td8RpuG3ckEnC0OqKkq4Mcl8Hv8+4LERN8dEIxGr4
[init]
	defaultBranch = main
[user]
        name = lawrencegripper
        email = info@grippers.co.uk
