[user]
    name = 
    name = lawrencegripper
    email = 
    email = lawrencegripper@github.com

[gpg]
    format = ssh
[commit]
    gpgsign = true
[user]
    # "op://Private/id_ed25519_gh/public key"
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN2NaV+rUS0Nhy138GNVLSfFte4DMKoQnc+jZeRREw94
