[gpg]
    format = ssh
[commit]
    gpgsign = true
[user]
    # "op://Private/id_ed25519/public key"
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK1td8RpuG3ckEnC0OqKkq4Mcl8Hv8+4LERN8dEIxGr4
[user]
    name = 
    email = 
    name = lawrencegripper
    email = i+gitpersonal@grippers.co.uk