db_path = "~/.config/atuin/history.db"
dialect = "uk"
style = "compact"
inline_height = 25
invert = true
update_check = false
sync_frequency = "5m"

{{- if eq (env "CODESPACES") "true" }}
auto_sync = true
sync_address = "http://localhost:3123"
session_path = "/workspaces/atuin_session"
key_path = "/workspaces/atuin_key"
{{- else }}
auto_sync = true
sync_address = "http://atuin-api.unicorn-tailor.ts.net"
{{- end }}

show_preview = true

[sync]
records = true
