db_path = "~/.config/atuin/history.db"
dialect = "uk"
style = "compact"
inline_height = 25
update_check = false

{{- if eq (env "CODESPACES") "true" }}
auto_sync = true
sync_address = "http://100.120.65.104"
session_path = "/workspaces/atuin_session"
key_path = "/workspaces/atuin_key"
{{- else }}
auto_sync = true
sync_address = "http://100.120.65.104"
{{- end }}

show_preview = true