#tap "homebrew/core"
#tap "homebrew/linux-fonts"
tap "wez/wezterm-linuxbrew"

{{ include "dot_dotfiles_groups/2_homebrew/Brewfile.terminal-base" }}

# Desktop bits
brew "ollama"
brew "stuartleeks/tap/devcontainer"
brew "lawrencegripper/tap/azbrowse"
brew "hugo"
brew "node"
brew install --cask font-monaspace # New font to try out