#!/bin/bash

# Ensure unattended install for Brew
export NONINTERACTIVE=1
export HOMEBREW_INSTALL_FROM_API=1

{{- if or (eq (env "CODESPACES") "true") (eq (env "REMOTE_CONTAINERS") "true") }}

    {{ if lookPath "brew" | not }}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> $HOME/.profile
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    {{ end }}

    # Brewfile hash: {{ includeTemplate "dot_dotfiles_groups/2_homebrew/Brewfile.codespace.tmpl" | sha256sum }}
    brew bundle --file=~/.dotfiles_groups/2_homebrew/Brewfile.codespace -v

{{ else if (eq .chezmoi.os "linux") -}}

    {{ if lookPath "brew" | not }}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> $HOME/.profile
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    {{ end }}

    # Brewfile hash: {{ includeTemplate "dot_dotfiles_groups/2_homebrew/Brewfile.linux.tmpl" | sha256sum }}
    brew bundle --file=~/.dotfiles_groups/2_homebrew/Brewfile.linux -v

    # Update the fonts that are installed
    fc-cache -f -v

{{ else if eq .chezmoi.os "darwin" -}}

    {{ if lookPath "brew" | not }}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    {{ end }}

    # Brewfile hash: {{ include "dot_dotfiles_groups/2_homebrew/Brewfile.mac" | sha256sum }}
    brew bundle --file=~/.dotfiles_groups/2_homebrew/Brewfile.mac -v

{{ end -}}
