#!/bin/bash

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "debian") -}}

# Brewfile hash: {{ include "homebrew/Brewfile.codespaces" | sha256sum }}
brew bundle --file=~/.homebrew/.Brewfile.codespaces -v

{{ else if eq .chezmoi.os "darwin" -}}

# Brewfile hash: {{ include "homebrew/Brewfile.mac" | sha256sum }}
brew bundle --file=~/.homebrew/.Brewfile -v

{{ end -}}
