#!/bin/bash

{{ template "skip-unless-local-debian.tmpl" . }}
{{ template "skip-unless-docker.tmpl" . }}

echo "Make sure you set langugage server to http://127.0.0.1:8123/v2 in the extension settings"

echo "Start language tools spelling/grammer tool"
sudo docker start languagetool || sudo docker run --name languagetool \
                        --cap-drop=ALL \
                        --user=65534:65534 \
                        --read-only \
                        --mount type=bind,src=/tmp,dst=/tmp \
                        --mount type=bind,src=$HOME/lanagugetools/ngrams,dst=/ngrams \
                        --restart=always \
                        -p 8123:8010 \
                        -d \
                        elestio/languagetool || true

