[Unit]
Description=1Password
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/1password
WorkingDirectory=/home/lawrencegripper
# 1pw is half broken in wayland. The SSH agent popups don't work
# for now force it to x11
# https://discourse.nixos.org/t/1password-under-sway-wayland-only/49109/6
Environment=ELECTRON_OZONE_PLATFORM_HINT=x11

[Install]
WantedBy=sway-session.target
WantedBy=i3-session.target
WantedBy=cosmic-session.target