[Unit]
Description=Albert launcher
Documentation=https://github.com/albertlauncher/albert
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c /usr/bin/albert
WorkingDirectory=/home/lawrencegripper

[Install]
WantedBy=sway-session.target