[Unit]
Description=CopyQ
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/copyq

[Install]
WantedBy=sway-session.target
WantedBy=i3-session.target