[Unit]
Description=Element
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/element-desktop
WorkingDirectory=/home/lawrencegripper

[Install]
WantedBy=sway-session.target
WantedBy=i3-session.target
WantedBy=cosmic-session.target
