[Unit]
Description=Dark mode hack
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash -c "gsettings set org.gnome.desktop.interface color-scheme 'prefer-light'"
ExecStart=/bin/bash -c "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"


[Install]
WantedBy=sway-session.target