[Unit]
Description=Logseq
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.logseq.Logseq --enable-features=UseOzonePlatform --ozone-platform=wayland
WorkingDirectory=/home/lawrencegripper

[Install]
WantedBy=sway-session.target