[Unit]
Description=Polkit agent
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/polkit-mate-authentication-agent-1
Environment="GDK_BACKEND=x11"

[Install]
WantedBy=i3-session.target