[Unit]
Description=polybar
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c /home/lawrencegripper/.config/polybar/launch.sh
WorkingDirectory=/home/lawrencegripper

[Install]
WantedBy=sway-session.target
WantedBy=i3-session.target