#!/bin/bash

# TODO: Make this templated and find the service files in the directory

echo "Starting user systemd services"

systemctl --user daemon-reload

# Find all .service files in the directory

{{ $services := glob (printf "%s/private_dot_config/systemd/user/*.service" .chezmoi.sourceDir) }}

# Enable and start each service
{{ range $services }}

# Only run this when files have been changed
# Service file hash: {{ include . | sha256sum }}

systemctl --user enable {{ base . }}
systemctl --user start {{ base . }}

{{ end }}
