[Unit]
Description=Stretchly
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/stretchly
WorkingDirectory=/home/lawrencegripper

[Install]
WantedBy=sway-session.target
WantedBy=i3-session.target