{{- if lookPath "snap" -}}
#!/bin/bash
set -e
{{- range include "dot_dotfiles_groups/snap_packages/packages.txt" | splitList "\n" }}
{{- if contains "#" . | not }}
sudo snap install {{.}}
{{- end }}
{{- end }}
{{- end }}
