#!/bin/bash

# Add extension ID below
extensions=(
  "ms-vscode-remote.vscode-remote-extensionpack"
  "ms-python.python"
  "oderwat.indent-rainbow"
  "redhat.vscode-yaml"
  "alvesvaren.arc-dark"
  "ms-vsliveshare.vsliveshare-pack"
  "mattlott.copy-github-url"
  "davidlday.languagetool-linter"
  "eamodio.gitlens"
  "github.codespaces"
  "castwide.solargraph"
  "kaiwood.endwise"
  "timonwong.shellcheck"
  "noku.rails-run-spec-vscode"
  "connorshea.vscode-ruby-test-adapter"
  "rubocop.vscode-rubocop"
  "sporto.rails-go-to-spec"
  "lunuan.kubernetes-templates"
  "ethan-reesor.vscode-byebug"
  "lunuan.kubernetes-templates"
  "golang.Go"
  "github.remotehub"
  "github.vscode-pull-request-github"
  "mutantdino.resourcemonitor"
  "itarato.byesig"
  "aaron-bond.better-comments"
  "adpyke.codesnap"
  "monokai.theme-monokai-pro-vscode"
  "humao.rest-client"
  "SangsooNam.vscode-extension-quick-grep"
  "anykeyh.simplecov-vscode"
  "teabyii.ayu"
)

# "GitHub.copilot-chat" but currently only prerelease


{{- if or (eq (env "CODESPACES") "true") (eq (env "REMOTE_CONTAINERS") "true") }}

  echo "Skipping VSCode config as in codespaces"

{{- else }}
  echo "Install vscode extensions"
  for ext in "${extensions[@]}"
  do
    code --install-extension $ext
    if type "code-insiders" > /dev/null; then
      code-insiders --install-extension $ext
    fi
  done
  
{{ end }}