#!/bin/bash
{{ if and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "idLike") "arch") -}}

# Install pacman package
{{ range include "dot_dotfiles_groups/arch_packages/packages.txt" | splitList "\n" }}
{{ if contains "#" . | not }}
    sudo pacman -S {{.}} --noconfirm --needed
{{ end }}
{{ end }}

{{ end -}}
