#!/bin/bash
set -e

# Install stuff when running regolith2
{{- if lookPath "polybar" }}
 
# Create venv for python scripts 
python3 -m venv ~/.venv-polybar

# # blinkstick to control notifications light on desk
~/.venv-polybar/bin/pip install BlinkStick
~/.venv-polybar/bin/pip install dbus-python
~/.venv-polybar/bin/pip install givenergy-modbus==0.10.1

echo "SUBSYSTEM==\"usb\", ATTR{idVendor}==\"20a0\", ATTR{idProduct}==\"41e5\", MODE:=\"0666\"" | sudo tee /etc/udev/rules.d/85-blinkstick.rules

{{ end }}
